// MEDIA BREAK POINTS
$break-small: 400px;
$break-almost-small: 450px;
$break-medium: 768px;
$break-normal: 1080px;
$break-large: 1200px;

// COLORS

$grey-light-background: #fafbfc;
$grey-black: #000000;
$grey-darker-highlight: #2e3d49;
$grey-dark-highlight: #313336;
$grey-dark: #3b3f43;
$grey-border: #dbe2e8;
$grey-medium-darker: #525c65;
$grey-medium-dark: #757c81;
$grey-medium-darkity: #7d97ad;
$grey-medium-darkish: #8a9094;
$grey-medium: #979fa7;
$grey-very-medium: #91a7ba;
$grey-medium-light: #b9c0c4;
$grey-light: #efefef;
$white: #ffffff;

$green: #02ccba;
$green-hover: #02b0a0;
$green-click: #03e7d2;

$red: #f95c3c;
$red-hover: #f5421d;
$red-warning: #f7330b;
$red-dark: #ea411d;

$blue: #02b3e4;
$black: #000;

$primary-lighter: #00bcd4;
$primary-light: #4c66c0;
$primary-dark: #001861;
$primary: #003c8f;

$primary-gray: #b9c0c4;

$semantic-gray: rgba(34,36,38,.15);
$semantic-light-gray: #f2f3f2;
// SHADOWS
$button-hover-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);

// SPACING
$space-small: 5px;
$space-med: 10px;
$space-lrg: 20px;
$space-xlrg: 30px;
$space-xxlrg: 40px;
$space-xxxlrg: 60px;
$space-mega: 80px;
$space-xmega: 100px;
$space-xxmega: 120px;

// FONTS
$font-family-default: Roboto, sans-serif;
$font-weight-light: 200;
$font-weight-lightish: 300;
$font-weight-normal: 400;
$font-weight-heavy: 600;

$font-size-xxs: 0.6rem;
$font-size-xs: 0.8rem;
$font-size-small: 1.2rem;
$font-size-normal: 1.4rem;
$font-size-large: 1.6rem;
$font-size-xl: 1.8rem;
$font-size-xxl: 2rem;
$font-size-nl: 2.8rem;
$font-size-xxlm: 3rem;
$font-size-xxxl: 3.4rem;

$font-line-height-normal: normal;
$font-line-height-std: 1.86;
$font-margin-bottom-std: 2rem;

// LAYERS
$overlay-z-index: 9999;
